.create-campaign-container {
    margin: 20px;
  }
  
  .selected-card {
    border: 2px solid #79F297;
  }
  
  .ant-card {
    transition: all 0.3s ease;
  }
  
  .ant-card:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .ant-card .ant-card-body {
    padding: 16px;
    height: 100%;
  }
  
  .ant-tooltip-inner {
    font-size: 12px;
    text-align: center;
  }

  .deliverable-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 8px;
}

.deliverable-icon {
    font-size: 32px;
    color: #203359;  /* Modern primary color */
    margin-bottom: 8px;
}

.deliverable-text strong {
    font-size: 16px;
    color: #333;  /* Darker title */
}

.deliverable-text p {
    font-size: 12px;
    color: #666;
}

.selected {
    border: 2px solid #79F297;  /* Border-only highlight for selected cards */
}

/* Hover effect only on the Card */
.ant-card-hoverable:hover {
    border-color: #C2D2F2;  /* Highlight border on hover */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);  /* Subtle shadow on hover */
}

/* Remove hover effect from the inner content */
.deliverable-card-content:hover {
    transform: none;
    box-shadow: none;
}