.dashboard {
    padding: 20px;
    text-align: center;
  }
  
  .slick-slider {
    margin: 0 auto;
  }
  
  .creator-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .creator-info {
    margin: 0 auto;
  }
  
  .creator-info h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .creator-info p {
    margin: 5px 0;
    font-size: 1.1em;
  }
  
  @media (max-width: 600px) {
    .creator-card {
      padding: 15px;
    }
  
    .creator-info h3 {
      font-size: 1.2em;
    }
  
    .creator-info p {
      font-size: 1em;
    }
  }
  
  