.onboarding-form-container {
    max-width: 600px;
    margin: auto;
    padding: 40px;
}

.step-container {
    display: flex;
    flex-direction: column;
}

.step-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input {
    margin-bottom: 20px;
    width: 100%;
}

button {
    margin-top: 20px;
}

.confirmation-page {
    text-align: center;
    margin-top: 50px;
}

.confirmation-image {
    width: 100px;
}

.confirmation-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.confirmation-message {
    margin-bottom: 20px;
}

.progress-bar {
    background-color: #e0e0e0;
    height: 5px;
    margin-top: 20px;
    position: relative;
}

.progress-bar div {
    background-color: #1890ff;
    height: 100%;
}
